label.form-label,
label.form-check-label {
  text-align: left;
}
.login-panel {
  border: 1px solid #ccc;
  text-align: center;
  padding: 50px;
  margin-bottom: 100px;
}
.common-heading {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.common-tagline {
  color: #f59012;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 60px;
}
