.inner-page-tag {
  margin-top: 60px;
  font-size: 18px;
  font-weight: bold;
  color: #f59012;
}
.inner-page-head {
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  padding: 10px 0;
}
.inner-para {
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
  color: #000;
  padding-bottom: 40px;
}
.accordion {
  display: block;
  width: 100%;
}
.accordion-item {
  border: 1px solid #ccc;
}
.accordion-header {
  background-color: #ddd1d1;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}
.total-achivement {
  background-color: #40b9eb;
  width: 100%;
  margin-top: 100px;
  min-height: 300px;
}
.total-achivement h2 {
  font-size: 80px;
  font-weight: 500;
  text-align: center;
  line-height: 80px;
  color: #fff;
  padding-top: 50px;
}
.total-achivement h2 span {
  font-size: 20px;
  line-height: 20px;
}
.accordion-header button {
  background: none;
  border: none;
  font-weight: bold;
}
.accordion-header button:focus {
  border: none;
}
.accordion-body {
  padding: 10px;
  font-size: 16px;
}
