.header-top {
  width: 100%;
  background-color: #4fc7e9;
  height: 4px;
}
.main-header {
  margin-top: 20px;
}
img.logo {
  display: block;
  text-align: left;
  margin-bottom: 20px;
}
.nav a {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #000;
  text-transform: uppercase;
}
.navbar-nav a {
  text-decoration: none;
  padding: 10px 26px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #000;
  text-transform: uppercase;
}
